@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
}

@layer components {
  .main-container {
    @apply grid grid-cols-main md:grid-cols-main-md lg:grid-cols-main-lg h-screen;
    background-color: rgba(250, 250, 254, 1);
  }

  .modal {
    @apply fixed top-1/2 left-1/2 z-50 -translate-x-1/2 -translate-y-1/2;
  }
}

/* Transition */
.slide-enter {
  opacity: 0;
  transform: translateX(100%);
}

.slide-enter-active {
  opacity: 1;
  transition: all 300ms ease;
  transform: translateX(0%);
}

.slide-exit {
  opacity: 1;
  transform: translateX(0%);
}

.slide-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: all 300ms ease;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: all 300ms ease-in-out 0s;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: all 300ms ease-in-out 0s;
}

/* Custom Tooltip */
.tooltip::before {
  position: absolute;
  content: "";
  border-width: 5px;
  border-color: transparent black transparent transparent;
  border-style: solid;
  top: 50%;
  right: 100%;
  margin-top: -5px;
}

/* hide scrollbar but allow scrolling */
.hide-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: auto;
  overflow-x: hidden;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
